# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Temporary files
temp/
*.wav

# Model files
models/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Virtual Environment
voice_app/voice_app/venv/
*.pyc 